@import "tailwindcss";

@plugin "tailwindcss-animate";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-source: var(--font-source-sans);
  --font-jarkata: var(--font-jarkata);

  --color-bodyText: #5b6780;
  --color-brand-blue: #0734e8;
  --color-brand-blue2: #ebf3ff;
  --color-brand-lightblue: #889FFB;
  --color-brand-darkblue: #020D3B;
  --color-black: #0f1114;
  --color-black2: #1f1f1f;

  --color-cascade-gray-100: #f8f8f8;
  --color-cascade-gray-150: #bdbdbd;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.custom-border-radius {
  border-radius: 46% 54% 35% 65% / 30% 30% 70% 70%;
}
